{
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "extends": "airbnb",
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "semi": ["error", "always"],
    "comma-dangle": ["error", "always-multiline"],
    'no-console': 0,
    'no-debugger': 0
  },
  "globals": {
    "fetch": false,
    "document": true
  },
  "overrides": [
    {
      "files": [ "src/*.js", "tests/*.js" ],
      "rules": {
        "quotes": [ 2, "single" ]
      }
    }
  ]
}
