body{
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 30vw;
  height: 30vw;
}

.forecast .icon {
  width: 5vw;
  height: 5vw;
}

.day {
  float: left;
  padding: 5px;
}

.date {
  font-size: 10px;
}
